{% extends 'base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>{{ article.title }}</h1>
    <div class="alert alert-dark">
        {{ article.text }}<br>
        {{ article.date.date() }}<br>
        <a href="/posts/{{ article.id }}/update">
            <button class="btn btn-success">Edit</button>
        </a>
         <a href="/posts/{{ article.id }}/delete">
            <button class="btn btn-danger">Delete</button>
        </a>
    </div>
</div>
{% endblock %}