{% extends 'base.html' %}

{% block title%}All Interviews{% endblock %}

{% block body %}
<div class="container mt-5">
    <h3>All registered Interviews:</h3>
        <ul>
        {% for i in interviews %}
            <div class="alert alert-dark">
                <li>
                <h3>{{ i.candidate_name }}</h3>
                    Final grade:
                    {% if i.get_final_grade() %}
                    <div class="badge badge-success">
                        {{ i.get_final_grade() }}%
                    </div>
                {% else %}
                    <div class="badge badge-dark">
                        Not completed
                    </div>
                {% endif %} <br>
                    Interviewers:
                    <ul>
                    {% for interviewer in i.users_set %}
                        <li>{{ interviewer }}</li>
                    {% endfor %}
                    </ul>
                    Questions:
                    <ul>
                    {% for question in i.questions_set %}
                        <li>{{ question }}</li>
                    {% endfor %}
                    </ul>
                    Interview time:
                    <ul>
                        <li>{{ i.start_time }}</li>
                    </ul>
                    {% if current_user.is_authenticated and current_user.user_role != "Guest" %}
                    <a href="/all-interviews/{{i.id}}/delete"><button class="btn btn-danger">Delete</button></a>
                    {% endif %}
                </li>
            </div>
        {% endfor %}
        </ul>
    {% if prev_url %}
    <a href="{{ prev_url }}"><button class="btn btn-outline-dark">Previous page</button></a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}"><button class="btn btn-outline-dark">Next page</button></a>
    {% endif %}
</div>
{% endblock %}