{% extends 'base.html' %}

{% block title%}All questions{% endblock %}

{% block body %}
<div class="container mt-5">
    <h3>All registered questions:</h3>
        <ul>
        {% for q in questions %}
            <div class="alert alert-dark">
                <li>
                <h3>{{ q.description }}</h3>
                Question: {{ q.question_text }}<br>
                    {% if q.answer %}
                Answer: {{ q.answer}}<br>
                    {% endif %}
                Max grade: {{ q.max_grade }} <br>
                    {% if current_user.user_role != 'Guest' %}
                <a href="/question/{{ q.id }}/delete"><button class="btn btn-danger">Delete</button></a>
                    {% endif %}
                </li>
            </div>
        {% endfor %}
        </ul>
    {% if prev_url %}
    <a href="{{ prev_url }}"><button class="btn btn-outline-dark">Previous page</button></a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}"><button class="btn btn-outline-dark">Next page</button></a>
    {% endif %}
</div>
{% endblock %}