{% extends 'base.html' %}

{% block title%}All Interviews{% endblock %}

{% block body %}
<div class="container-fluid">
    <h3>All registered Interviews:</h3>
        <ul>
        {% for i in interviews %}
            <div class="alert alert-dark">
                <li>
                <h3>{{ i.candidate_name }}</h3>
                    Interviewers:
                    <ul>
                    {% for interviewer in i.users_set %}
                        <li>{{ interviewer }}</li>
                    {% endfor %}
                    </ul>
                    Questions:
                    <ul>
                    {% for question in i.questions_set %}
                        <li>{{ question }}</li>
                    {% endfor %}
                    </ul>
                    Interview time:
                    <ul>
                        <li>{{ i.start_time }}</li>
                    </ul>
                    <a href="/all-interviews/{{i.id}}/delete"><button class="btn btn-danger">Delete</button></a>
                </li>
            </div>
        {% endfor %}
        </ul>

</div>
{% endblock %}