{% extends 'base.html' %}

{% block title%}Interview of {{ interview.candidate_name }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="d-flex justify-content-center">
    <h3>Interview of {{ interview.candidate_name }}</h3>
    </div>
            <div class="alert alert-dark">
                <div class="badge badge-dark">
                    <h5>Interviewers:</h5>
                    <ul>
                    {% for interviewer in interview.users_set %}
                        <li>{{ interviewer }}</li>
                    {% endfor %}
                    </ul>
                </div>
                <h4>Questions:</h4>
                    <ul>
                    {% for question in interview.questions_set %}
                         <div class="badge badge-info">
                        Max grade: {{ question.max_grade }}
                        </div>
                        <li><h5>{{ question.description }}</h5></li>
                        <ul>
                            <li>{{ question.question_text }}</li>
                            {% if question.answer %}
                            <li><i>Expected answer: {{ question.answer }}</i></li>
                            {% endif %}
                            <b>Grades:</b>
                            <a href="/my-interviews/{{ interview.id }}/rate/{{ question.id }}"><button class="btn btn-outline-danger">Rate this</button></a>
                            {% for mark in grades %}
                            {% if mark.question_id == question.id and mark.grade %}
                            <ul>
                                <div class="badge badge-warning">
                                <li>{{ mark }} (<b>{{mark.grade}}</b>)</li>
                                </div>
                            </ul>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    {% endfor %}
                    </ul>
                    Interview time:
                    <ul>
                        <li>{{ interview.start_time }}</li>
                    </ul>
                <b>Final Grade:</b>
                {% if interview.get_final_grade() %}
                    <div class="badge badge-success">
                        {{ interview.get_final_grade() }}%
                    </div>
                {% else %}
                    <div class="badge badge-danger">
                        Not completed
                    </div>
                {% endif %}
            </div>

</div>
{% endblock %}